@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@100;200;300;400;500&family=Quicksand:wght@300&family=Signika+Negative:wght@300;400&display=swap');

.content {
    display: flex;
    flex-direction: column;
    width: auto;
}

nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

nav h3 {
    font-size: 2rem;
    font-weight: 500;
    font-family:'Dancing Script', cursive;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding:  0 5px;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.stand{
    display: flex;
    width: 200px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 200px;
    position: fixed;
}

.new__upload{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: fixed;
    right: 100px;
    margin-top: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__content{
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.links {
    margin-top: 40px;
}

.links li {
    margin: 0 0 50px 0;
}

.link {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight:100 ;
}

.darkmode{
    margin-top: 280px;
}

.main__content {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.link div{
    margin-right: 5px;
    font-size: 1.6rem;
}

.contents {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    width: 800px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: .1px solid #ddd3d3;
    background-color:white ;
}

.header{
    display: flex;
    flex-direction: row;
    letter-spacing: .4px;
}

.type {
    margin-top: -5px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0px;
}

.header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.header{
    margin-left: 10px;
    align-items: center;
    height: 60px;
    font-size: 21px;
}

.images img {
    width: 540px;
    height: 540px;
}

.desc{
    display: flex;
    margin: 5px 0 0 10px;
    height: 40px;
    font-size: 17px;
    font-family: 'Signika Negative', sans-serif;
}

.desc p {
    margin-left: 6px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
}

.box span {
    display: flex;
    text-align: end;
    justify-content: flex-end;
    margin: 0 10px 2px 10px;
    font-size: 13px;
}

.option {
    right: 520px;
    position: absolute;
    cursor: pointer;
    font-size: 1.2rem;
}

.card{
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 280px;
    align-items: center;
    border: 1px solid black;
}

.img__user img {
    width: 40px;
    height: 40px;
}

/* *{
    border: 1px solid black;
} */