.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
    height: 100vh;
}

.image-error, .body-error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.image-error img {
    width: 350px;
    height: 350px;
}

.body-error h2{
    text-align: center;
    color: #252525;
    font-size: 3.2rem;
    height: 200px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}


@media screen and ( max-width: 884px ) {
    .body-error h2{
        color: #252525;
        font-size: 2.5rem;
        height: 200px;
    }
}

@media screen and ( max-width: 767px ) {
    .body-error h2{
        color: #252525;
        font-size: 2.2rem;
        height: 200px;
    }
}

@media screen and ( max-width: 498px ) {
    .body-error h2{
        color: #252525;
        font-size: 1.7rem;
        height: 200px;
    }
}

@media screen and ( max-width: 360px ) {
    .body-error h2{
        color: #252525;
        font-size: 1.4rem;
        height: 200px;
    }
}